import("kobe","diags","FLCore")
export(calcK)
exportClasses(biodyn)
export(hcrParams)
export(is.biodyn)
exportMethods(biodyn)
exportMethods(biodyns)
exportMethods(bmsy)
exportMethods(computeSP)
exportMethods(fit)
exportMethods(fmsy)
exportMethods(fwd)
exportMethods(hcr)
exportMethods(diags)
exportMethods("diags<-")
exportMethods(msy)
exportMethods(power)
exportMethods(profile)
exportMethods(refpts)
exportMethods("setControl<-")
exportMethods("setParams<-")
exportMethods(tac)
exportMethods(psuedo)
export(plotSP)
export(read.psv)
export(mvn)
